footer.footer
    .footer__logo
        img(src='img/logo-green.png' alt='Tour Booking')
    ul.footer__nav
        li: a(href='#') Về chúng tôi
        li: a(href='#') Download apps
        li: a(href='#') Trở thành hướng dẫn viên của chúng tôi
        li: a(href='#') Sự nghiệp
        li: a(href='#') Liên hệ
    p.footer__copyright &copy; Bản quyền thuộc về Trần Duy Khánh 18CN2. Vui lòng chỉ sử dụng dự án này cho các mục đích riêng tư!