header.header
    nav.nav.nav--tours
        a.nav__el(href='#') Các chuyến tham quan
    .header__logo
        img(src='img/logo-white.png' alt='Tour Booking logo')
    nav.nav.nav--user
        //- a.nav__el(href='#') Đơn hàng
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-     span Trần Duy Khánh
        button.nav__el Đăng Nhập
        button.nav__el.nav__el--cta Đăng Ký